body {
    background: #000;

    color: #000;
    font-family: DINPro Light, sans-serif;
    font-size: 14px;
    position: relative;
    margin: 0;
    max-width: 100%; 
    min-width: 1000px;
    
    /* padding-85ght: 310px;*/
}

@font-face{

    font-family: DINPro Light;
    src:url(10422.otf);

}

#header h2 {
    background: #000;
    color: #e9e9e9;
    width: 100%;
    height: 10%;
    margin-bottom: 0;
    font-size: 32px;
    letter-spacing: 4pt;

}
#logo a {

    text-decoration: none;
    color: #e9e9e9;

}
#a {

    color: #948f8f;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1%;
    letter-spacing: 7pt;
    font-size: 15px;
}

#container {
    background: #000000;
    margin: auto auto;
    text-align: center;
    width: 100%;
    height: 400px;
}

#navigation {
    background: #292929;
    font-family: DINPro Light, sans-serif;
    width: 100%;
    height: 25px;
    margin-bottom: 0.5%;



}
#menu {
    padding-top: 0.2%;
    width: 100%;



}
#menu a {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    text-indent: 5px;

    text-decoration: none;
    color: #a8a8a8;
    font-size: 14px;




}

#menu a:hover {
    color: #FFF;


}
h3{
    font-family: DINPro Light;
    color: #a8a8a8;
    opacity: 0.6;
    text-align: center;
    width: 40%;
    height: 10%;
    padding-left: 30%;


}
h4{

    margin-bottom: 0;
     font-weight: normal;


}
#content {
    background: #000;
    float: right;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

crop {

    background-position-x : 50%;
    background-position-y : 50%;
}
#footer {
    background: #515050;    
    width: 100%;
    height:100px;
    margin-top: 0.5%;
    position:relative;

}

#evening a:hover{

    opacity: 0.5 ;

}
#rights{

    padding-top: 30px;
    text-align: center;    
}
#clear {
    clear: both;
}

#pagehead  {  
    margin-top: 1%;
    color: #c59581;    
    font-size: 25px;

}
.slider-box{
    position:relative;
    width:100%;
    height:675px;
    overflow:hidden;
}
.slider{
    position:relative;
    width:10000px;
    height:675px;
}
.slider img{
    float:left;
}
.slider-box .prev, .slider-box .next{
    position:absolute;
    top:337px;
    display:block;
    width:29px;
    height:29px;
    cursor:pointer;
}
.slider-box .prev{
    position:absolute;
    left:100px;
    background-image: url(../images/left.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.slider-box .next{
    position:absolute;
    right:100px;
    background-image:url(../images/right.png);
    background-repeat: no-repeat;
    background-size: cover;

}
/*.black-overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}*/
/* устанавливаем рисунок основы,
  ** опрделяем размеры и положение на экране  */
/*.evening {
    display: none;
    position: absolute;
    width: 30%;
    height: 500px;
    background: #292929 center no-repeat;

    z-index:1002;
    position: relative;
    transform: translate(-50%,-50%);
    margin-left: 50%;

}*/
/* формируем кнопку закрытия,
  ** размеры, положение на форме  */

/* кнопка закрытия при наведении */

/* оформляем заголовок формы */
/*.title {
    font-family: DINPro Light;
    font-size:14px;
    font-weight: normal;	
    text-align:center;	
    color: #fff;
    height: 40px;

}*/
form{
    color: #fff;
    width: 30%;
    background: #292929 center no-repeat;
    position: relative;
    transform: translate(-50%);
    margin-left: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
     min-width: 400px;

}
.your-name {

    top :100px;
    left: 150px;
    opacity: 0.5;

}

.email-address {

    top: 155px;
    left :150px;
    opacity: 0.5;


}

.your-message{


    top: 250px;
    left: 50px;
   
    min-height: 150px;
    max-width: 347px;
    min-width: 347px;
    opacity: 0.5;
}
.send-message{

    left :190px;
    top: 400px;
    background-color: #515050;
    color: #fff;
    font-family: DINPo Light;
    font-style: normal;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 100px;

}

.ok{
    border: 1px solid green;
    background-color: green;
}
.error{
    border: 1px solid red;
    background-color: red;
    opacity: 0.5;
}

