body {
    background: #000;
    color: #000;
    font-family: DINPro Light, sans-serif;
    font-size: 14px;
    position: relative;
    margin: 0;
    max-width: 100%; 
    /* padding-right: 310px;*/
}

#header h2 {
    background: #000;
    color: #e9e9e9;
    width: 100%;
    height: 10%;
    margin-bottom: 0;
    font-size: 30px;
    letter-spacing: 1pt;
}
#a {
    color: #948f8f;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1%;
    letter-spacing: 2pt;
    font-size: 15px;
}

#container {
    background: #000000;
    margin: auto auto;
    text-align: center;
    width: 100%;
    height: 400px;
}

#navigation {
    background: #515050;
    font-family: DINPro Light, sans-serif;
    width: 100%;
    height: 25px;
    margin-bottom: 2%;
    

}
#menu a {
    width: 200px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #a8a8a8;
    font-size: 14px;
    margin-left: 100%;

}

#menu a:hover {
    color: #FFF;
    
}


#content {
    background: #DCDCDC;
    float: right;
    width: 100%;
    height: 280px;
}

#clear {
    clear: both;
}

#footer {
    background: #00BFFF;
    width: 100%;
    height: 40px;
}