body {
    background: #000;

    color: #000;
    font-family: DINPro Light, sans-serif;
    font-size: 14px;
    position: relative;
    margin: 0;
    max-width: 100%; 
    /* padding-right: 310px;*/
}

#header h2 {
    background: #000;
    color: #e9e9e9;
    width: 100%;
    height: 10%;
    margin-bottom: 0;
    font-size: 30px;
    letter-spacing: 1pt;

}
#logo a {

    text-decoration: none;
    color: #e9e9e9;

}
#a {
    color: #948f8f;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1%;
    letter-spacing: 2pt;
    font-size: 15px;
}

#container {
    background: #000000;
    margin: auto auto;
    text-align: center;
    width: 100%;
    height: 400px;
}

#navigation {
    background: #515050;
    font-family: DINPro Light, sans-serif;
    width: 100%;
    height: 25px;
    margin-bottom: 2%;



}
#menu a {
    width: 200px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #a8a8a8;
    font-size: 14px;
    margin-left: 100%;

}

#menu a:hover {
    color: #FFF;

}


#content {
    background: #000;
    float: right;
    width: 100%;
    height: 800px;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

crop {

    background-position-x : 50%;
    background-position-y : 50%;
}
#footer {
    background: #515050;    
    width: 100%;
    height:60px;
    margin-top: 2%;
    position:relative;

}
#rights{
    
    padding-top: 30px;
    text-align: center;    
}
#clear {
    clear: both;
}

#pagehead  {  

    color: #c59581;    
    font-size: 25px;

}
.slider-box{
  position:relative;
  width:100%;
  height:675px;
  overflow:hidden;
}
.slider{
  position:relative;
  width:10000px;
  height:675px;
}
.slider img{
  float:left;
}
.slider-box .prev, .slider-box .next{
  position:absolute;
  top:337px;
  display:block;
  width:29px;
  height:29px;
  cursor:pointer;
}
.slider-box .prev{
      position:absolute;
  left:100px;
  background-image: url(../images/left.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.slider-box .next{
      position:absolute;
  right:100px;
   background-image:url(../images/right.png);
   background-repeat: no-repeat;
  background-size: cover;

}